@use 'functions' as *;

@mixin cardImageBg ($title){
  .card_image--#{$title} {
    background-color: var(colors-background-#{$title});
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 95px;
    margin-bottom: -50px;
    border-radius: rem(10);
    overflow: hidden;
  }
}

@mixin breakpoints_down($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin breakpoints_up($size) {
  @media (min-width: $size) {
    @content;
  }
}


